

input.ng-valid {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: chartreuse
}

input.ng-invalid {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: deeppink
}