<!--
    [ngStyle]="{'background-color': (selected) ?  'orange' : 'lightsteelblue' }"
-->
<div style="padding:20px;"
        [ngClass]="{'card-active': selected, 'card-inactive': !selected}">

    <h2>{{item.from}} - {{item.to}}</h2>
    <p>Flugnr. #{{item.id}}</p>
    <p>Datum: {{item.date | date:'dd.MM.yyyy HH:mm'}}</p>

    <p>
       <button class="btn btn-default" *ngIf="!selected" (click)="select()">Auswählen</button>
       <button class="btn btn-default" *ngIf="selected" (click)="deselect()">Entfernen</button>   
    
       <a class="btn btn-default" [routerLink]="['/flight-edit', item.id, { showDetails: true, expertMode: true, page:7}]">Edit</a>
    </p>
</div>
